<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
<!--        <encoder>-->
            <pattern>%black(%d) %highlight(%-5level) [%blue(%t)] %yellow(%C{1.}): %msg%n%throwable</pattern>
<!--                %d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg %n-->
<!--        </encoder>-->
        </layout>
    </appender>
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
